.main-section {
  background-color: #F2F2F2;
  padding: 10px 0;
}

.main-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  box-sizing: border-box;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}